<section id="speaker" class="content-section text-center download-section homepage">
  <div class="container">
    <h2 class="speaker-title">Speakers</h2>
    <p class="home-paragraph">We're looking for speakers who wish to give a talk at WikiToLearnConf India 2017. If you're interested kindly send your <a href="https://www.papercall.io/" target="_blank">talk proposal</a> today.</p>
    <p class="home-paragraph last">We are accepting all types of talk proposals till <b>15th December, 2016.</b></p>

    <div class="speakers-wrapper text-left">
         <div class="row speaker">
         <div class="col-sm-2 image center">
         <div class="image-box">
         <img alt="speaker image" src="{{ site.github_project_name }}/assets/images/speakers/ruphy.jpg">
         </div>
         </div>
         <div class="col-sm-10">
         <p class="name">Riccardo Iacconelli</p>
         <p class="company"><a href="https://twitter.com/ruphy" target="_blank">@ruphy</a></p>
         <p class="about-speaker">Riccardo Iaconelli is the founder of WikiToLearn and a KDE developer. He contributed his first patches to the project at the age of 14. He moved his first steps in the open source world at the age of 13 within FSFE and never stopped. He counts in his portfolio important collaborations with entities such as CERN or INFN – his multidisciplinary background made him popular for achievements in both software development and graphic design.

Riccardo has always kept an eye on all kind of technologies that made Qt based software appealing to users, using much of the experience he accumulated within the Oxygen project. He was also one of the core developers of Plasma since the very first days. His last project, to which he gave birth, is WikiToLearn, a web platform dedicated to the creation and exploitation of free scientific knowledge.

He co-founded Ispirata, a company providing services and products built around KDE and Qt technologies, and left it one year after. He has been working with CERN and other research institutions since then.</p>
         </div>
         </div>

         <div class="row speaker">
         <div class="col-sm-2 image center">
         <div class="image-box">
         <img alt="speaker image" src="{{ site.github_project_name }}/assets/images/speakers/abhimanyu.jpg">
         </div>
         </div>
         <div class="col-sm-10">
         <p class="name">Abhimanyu Shekhawat</p>
         <p class="company"><a href="https://telegram.me/abhimanyu_shekhawat" target="_blank">@abhimanyu_shekhawat</a></p>
         <p class="about-speaker">Abhimanyu Singh Shekhawat believes in solving real life problems with code . He has experience is designing software solutions for various agencies and was Google Summer of Code student with KDE in 2016.Currently he is pursuing B.E.(Hons.) Computer Science (3 year) from BITS Pilani K.K. Birla Goa Campus.</p>
         </div>
         </div>

         <div class="row speaker">
         <div class="col-sm-2 image center">
         <div class="image-box">
         <img alt="speaker image" src="{{ site.github_project_name }}/assets/images/speakers/sagar.jpg">
         </div>
         </div>
         <div class="col-sm-10">
         <p class="name">Sagar Agarwal</p>
         <p class="company"><a href="https://twitter.com/atomsagar" target="_blank">@atomsagar</a></p>
         <p class="about-speaker">Pythonista with Javascript fuelling me for the Node makes me.

KDE Developer, loves to design in QML and play along C++ in the core of environment.
Love working in teams and love travelling to hackathons to hack away at awesome projects and learn new technologies.</p>
         </div>
         </div>
  </div>
</section>
